<h2><%=h widget_properties['caption']-%></h2>

<%
        regex = Property.value('sonar.fileParser.regex', @project.id, configuration('sonar.fileParser.regex')  )
        groupIdentifier = Property.value('sonar.fileParser.groupIdentifier', @project.id, configuration('sonar.fileParser.groupIdentifier')  )
        keyValueIdentifier = Property.value('sonar.fileParser.keyValueIdentifier', @project.id, configuration('sonar.fileParser.keyValueIdentifier')  )
        lineIdentifier = Property.value('sonar.fileParser.lineIdentifier', @project.id, configuration('sonar.fileParser.lineIdentifier')  )
        file = measure('fileParser-values')
        toAdd=""

    # Only display if data is given
    if file && file.data
%>
    <table width="100%">
            <tbody>

<% 
        file = file.data
        file.each_line do  |line| 
        
        parts=line.split(regex)
        if line.start_with?(groupIdentifier) && (parts.count >= 2)
%>
            <%= toAdd -%>
<% toAdd =  "</div> </tbody> </table> </tr>" %>
                    <tr>
                            <h3 style="padding-top: 15px;"><%= parts[1] -%></h3>

                            <table width="100%">
                                    <tbody>
                                            <div class="dashbox">
        <% elsif line.start_with?(keyValueIdentifier) && (parts.count >= 3) %>
                    <tr>
                            <td align="left"> <%= parts[1] -%> </td>
                            <% if (parts[2].strip.upcase == "TRUE") %>
                                <td align="left" style="padding-left: 10px;"> <%= image_tag( url_for_static(:plugin => 'sonarQubefileParserplugin', :path => 'OK.png')) %> </td>
                            <% elsif (parts[2].strip.upcase == "FALSE") %>
                                <td align="left" style="padding-left: 10px;"> <%= image_tag( url_for_static(:plugin => 'sonarQubefileParserplugin', :path => 'NOK.png')) %> </td>
                            <% else %>
                                <td align="left" style="padding-left: 10px;"> <%= parts[2] -%> </td>
                            <% end %>

                    </tr>
        <% elsif line.start_with?(lineIdentifier) && (parts.count >= 2) %> 
                    <tr>
                          <td colspan="2"> <%= parts[1] -%> </td>
                    </tr>
        <% else %>
                    <tr>
                          <td colspan="2"> Error occured - can not parse line </td>
                    </tr>
                    <tr>
                          <td colspan="2">Line: <%= line -%> </td>
                    </tr>
        <% 
          end
    end
        %>
            <%= toAdd -%>
            </tbody>
    </table>
    <!-- Project ID = <%= @project.id-%> -->
<% else %>
        <p> Error occured - no Data to display </p>
        <!-- File = <%=h file -%> -->
        <!-- File data = nil = <%=h file.data.nil? -%>-->
        <!-- File = nil = <%=h file.nil? -%>-->
        <!-- File text value = <%=h file.text_value -%>-->
        <!-- File text value class = <%=h file.text_value.class.name -%>-->
        <!-- File Formatted value = <%=h file.formatted_value -%>-->
        <!-- File Typed value = <%=h file.typed_value -%>-->
        <!-- File Value = <%=h file.value -%>-->
        <!-- File Class Name <%=h file.class.name%> -->
        <!-- File Class <%=h file.class -%>-->
        <!-- File Class <%=h file.to_s -%>-->
        <!-- Metric <%=h file.metric -%>-->
        <!-- Metric Value Type <%=h file.metric.value_type -%>-->
        <!-- Metric Display <%=h file.metric.display? -%>-->
        <!-- Metric key <%=h file.metric_key -%>-->
<% end %>
